<div class="container">
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="home-doctors  clearfix  text-center doc-item">
            <div class="common-doctor animated fadeInUp clearfix ae-animation-fadeInUp">
                <!--<ul class="list-inline social-lists animate">
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                </ul>-->
                <figure>
                        <img width="670" height="500" ng-src="{{user.picture.large}}"
                             class="doc-img animate attachment-gallery-post-single wp-post-image" alt="doctor-2">
                </figure>
                <div class="text-content">
                    <h3>{{user.name.first}} {{user.name.last}}</h3>
                    <!-- <div class="for-border"></div> -->
                    <h5><small>Dentist Title</small></h5>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
			<div class="panel-heading" style="background-color:#fff;">
				<h5 style="">
                    <i style="color:#337ab7" class="fa fa-bullhorn"></i>&nbsp;
					<strong>About</strong>
				</h5>
			</div>
			<div class="panel-body">
				<div class="row" style="padding-bottom:7px;">
					<div class="col-sm-12">
						<h6 style="margin-bottom:5px;margin-top:0px;line-height:1.6em;" class="about-edit">
							<i class="fa fa-dashboard" style="opacity:0.65;font-size:12px;"></i>&nbsp;
							I am interested in:
                            <a ng-repeat="interest in user.interests"
                               style="line-height:1.2em;color:;text-decoration:none;">
								{{ InterestsService.get(interest).interest_string }}{{$last ? '' : ', '}}
							</a>
						</h6>
					</div>
				</div>
				<div class="row" style="padding-bottom:7px;">
					<div class="col-sm-12">
						<h6 style="margin-bottom:5px;margin-top:0px;line-height:1.6em;">
							<i class="fa fa-graduation-cap" style="opacity:0.65;font-size:12px;"></i>
							Studied at:
                            <a style="line-height:1.2em;color:;text-decoration:none;">
								{{ user.study.school }} {{ user.study.graduate }}
							</a>
						</h6>
					</div>
				</div>
				<div class="row" style="padding-bottom:7px;">
					<div class="col-sm-12">
						<h6 style="margin-bottom:5px;margin-top:0px;line-height:1.6em;">
							<i class="fa fa-home" style="opacity:0.65;font-size:13px;"></i>&nbsp;
							Lives in:
                            <a style="line-height:1.2em;color:;text-decoration:none;">
								{{ user.location.state }}, {{ user.location.city }}
                            </a>
						</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="clearfix panel-heading" style="background-color:#fff;">
                <h5>
                    <i style="color:#337ab7" class="fa fa-user"></i>&nbsp;
                    <strong>
                        <a href="#/friends" style="color:#333;">
                            Friends
                        </a> - <span style="opacity:0.70;">
                        {{user.friends.length}}
                    </span>
                    </strong>
                </h5>
			</div>

            <div class="panel-body" style="padding:1px;">
                <a ng-repeat="friend in user.friends " href="#/profile/{{ friend }}">
                    <img data-placement="top" style="width:87px" data-animation="am-fade-and-scale" data-html="true"
                         data-title="{{UserService.get(friend).name.first}} {{UserService.get(friend).name.last}}"
                         bs-tooltip ng-src="{{UserService.get(friend).picture.thumbnail}}">
                </a>
            </div>
		</div>
    </div>
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>
                    <b>
                        Friends
                    </b>
                </h5>
                <hr style="margin: 5px 0px 10px 0px;" />
                <ul class="nav nav-tabs">
                  <li class="active"><a data-target="#tab_a" data-toggle="tab">
                      ( 333 )&nbsp;
                      Total Friends
                  </a></li>
                  <li><a data-target="#tab_b" data-toggle="tab">
                      <i style="color:#337ab7" class="fa fa-user"></i>&nbsp;
                      Friend Suggestions
                  </a></li>
                  <li><a data-target="#tab_c" data-toggle="tab">
                      ( 20 )&nbsp;
                      Sent Requests
                  </a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_a">
                        <div class="row" style="margin-top: 20px;">
                           <div class="col-sm-5 pull-right">
                               <div class="right-inner-addon">
                                    <i class="fa fa-search" style="opacity:0.70;padding:7px;"></i>
                                    <input type="search" class="form-control input-sm"
                                           placeholder="Search Friends" ng-model="searchFriend"/>
                               </div>
                           </div>
                        </div>
                        <hr />

                        <div class="col-sm-6 col-md-4" cg-busy="load_cancel_request"
                             ng-repeat=" friend in data = (friends |  filter : searchFriend )" >
                            <div class="panel panel-default panel-card">
                                <div class="panel-heading">
                                    <img ng-src="{{ friend.picture.thumbnail }}" />

                                </div>
                                <div class="panel-figure">
                                    <img class="img-responsive img-circle" ng-src="{{ friend.picture.thumbnail }}" />
                                </div>
                                <div class="panel-body text-center">
                                    <h4 class="panel-header">
                                        <a href="#/profile/{{ friend._id }}">
                                            @{{ friend.name.first }} {{ friend.name.last }}
                                        </a>
                                    </h4>
                                    <!--<small>A short description goes here.</small>-->
                                    <unaddfriend>
                                        <button ng-click="friendunfriend('{{ friend._id }}')"
                                                class="btn-sm btn btn-primary">unfriend</button>
                                    </unaddfriend>
                                </div>
                                <div class="panel-thumbnails">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="thumbnail">
                                                <img src="http://placemi.com/mzwlj/60x60" />
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="thumbnail">
                                                <img src="http://placemi.com/yboaj/60x60" />
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="thumbnail">
                                                <img src="http://placemi.com/gv3bp/60x60" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_b">
                        <div style="margin-top: 20px;">
                             <div cg-busy="load_cancel_request" class="col-sm-6 col-md-4" ng-repeat="person in suggested_people">
                                <div class="panel panel-default panel-card">
                                    <div class="panel-heading">
                                        <img ng-src="{{ person.picture.medium }}" />
                                        <cancelrequest>
                                            <button  ng-click="frndaddrequest(person._id, 0)"
                                                     class="btn btn-sm pull-right btn-primary">
                                                Add Friend
                                            </button>
                                        </cancelrequest>
                                    </div>
                                    <div class="panel-figure">
                                        <img class="img-responsive img-circle" ng-src="{{ person.picture.medium }}" />
                                    </div>
                                    <div class="panel-body text-center">
                                        <h4 class="panel-header"><a href="#/profile/{{ person._id}}">@{{ person.name.first }} {{ person.name.last }}</a></h4>
                                        <small>Cute and Smart</small>
                                    </div>
                                    <div class="panel-thumbnails">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="thumbnail">
                                                    <img src="http://placemi.com/mzwlj/60x60" />
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="thumbnail">
                                                    <img src="http://placemi.com/yboaj/60x60" />
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="thumbnail">
                                                    <img src="http://placemi.com/gv3bp/60x60" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="tab_c">
                        <div style="margin-top: 20px;">
                            <div cg-busy="load_cancel_request" class="col-sm-6 col-md-4"
                                 ng-repeat="friend in currentUser.send_add_requests">
                                <div class="panel panel-default panel-card">
                                    <div class="panel-heading">
                                        <img ng-src="{{ friend.picture.thumbnail }}" />
                                        <addfriend>
                                            <button ng-click="frndcancelrequest(friend._id, 0)"
                                                    class="btn btn-sm btn-primary pull-right">
                                                cancel request
                                            </button>
                                        </addfriend>
                                    </div>
                                    <div class="panel-figure">
                                        <img class="img-responsive img-circle" ng-src="{{ friend.picture.thumbnail }}" />
                                    </div>
                                    <div class="panel-body text-center">
                                        <h4 class="panel-header">
                                            <a href="#/profile/{{ friend._id }}">
                                                @{{ friend.name.first }} {{ friend.name.last }}
                                            </a>
                                        </h4>
                                        <small>Cute and Smart</small>
                                    </div>
                                    <div class="panel-thumbnails">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="thumbnail">
                                                    <img src="http://placemi.com/mzwlj/60x60" />
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="thumbnail">
                                                    <img src="http://placemi.com/yboaj/60x60" />
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="thumbnail">
                                                    <img src="http://placemi.com/gv3bp/60x60" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="currentUser.send_add_requests.length == 0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4>
                                        No sent requests found.
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- tab content -->
            </div>
        </div>
    </div>
</div>
