<title>Youpep.com</title>
<div class="container mobile-container">
	<div class="col-md-6 col-md-offset-3 colpadding">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4 style="margin: 0px;border-bottom: 1px solid #f2f2f2;padding: 10px 0px;">
                    <b style="padding:10px 0px;">
                        Messages
                    </b>
                </h4>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" style="border-color: #fff;">
                        <div style="cursor:pointer;padding: 10px 0px;" class="panel-body" data-toggle="collapse"
                                data-parent="#accordion" data-target="#1">
                            <img src="http://api.randomuser.me/portraits/thumb/men/2.jpg"
                                 class="pull-left img-circle" style="width: 55px;margin-right:10px;">
                            <h5>
                                <b>
                                    <a href="">
                                        Websoc Software Technologies
                                    </a>
                                </b>
                                <div class="dropdown pull-right">
                                    <span style="opacity: 0.6;" class="fa fa-angle-down" id="dropdownMenu1" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="true"></span>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </h5>
                            <h6 style="opacity: 0.6">
                                <i class="fa fa-reply"></i>&nbsp;
                                Surya Muppalla commented
                            </h6>
                        </div>
                        <div id="1" cg-busy="Username_busy" class="panel-collapse collapse out">
                            <hr style="margin:0px 15px;" />
                            <div class="panel-body messages-scroll-page">
                                <div class="bubbledLeft">
                                    <p style="margin:0px 0px 2px 0px;width:100%;">
                                        Surya Muppalla
                                    </p>
                                </div>
                                <div class="bubbledRight">
                                    <p style="margin:0px 0px 2px 0px;width:100%;">
                                        Muppalla fuyguf deweg fuyw efugweufgwg fug fuywefw fgf gfu fgfuygfgu gfffgfyudgsfusd ugfgfuygd
                                    </p>
                                </div>
                                <div class="bubbledLeft">
                                    <p style="margin:0px 0px 2px 0px;width:100%;">
                                        Surya Muppalla commented on his photo fdgdfgds  uydsf udsfusd ugsdugf usdfuds gfsdg fgds fdufgdf
                                    </p>
                                </div>
                                <div class="bubbledRight">
                                    <p style="margin:0px 0px 2px 0px;width:100%;">
                                        Muppalla
                                    </p>
                                </div>
                                <div class="bubbledLeft">
                                    <p style="margin:0px 0px 2px 0px;width:100%;">
                                        Surya Muppalla
                                    </p>
                                </div>
                                <div class="bubbledRight">
                                    <p style="margin:0px 0px 2px 0px;width:100%;">
                                        Muppalla fdgfdg if dfg dufgd dgf dfgdf
                                    </p>
                                </div>
                                <div class="bubbledLeft">
                                    <p style="margin:0px 0px 2px 0px;width:100%;">
                                        Surya Muppalla
                                    </p>
                                </div>
                                <div class="bubbledRight">
                                    <p style="margin:0px 0px 2px 0px;width:100%;">
                                        Muppalla
                                    </p>
                                </div>
                            </div>
                            <hr style="margin: 10px 0px 0px 0px;" />
                            <div class="panel-body">
                                <div class="row">
                                    <h6>
                                        <b>
                                            Leave a reply
                                        </b>
                                    </h6>
                                    <textarea ng-model="new_post" class="form-control"
                                          style="height: 60px;margin-bottom: 10px;resize: none;box-shadow:none;" placeholder="Whats happening?" required>

                                    </textarea>
                                    <button class="btn btn-sm btn-primary pull-right">
                                        Send Message
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" style="border-color: #fff;">
                        <div style="cursor:pointer;padding: 10px 0px;" class="panel-body" data-toggle="collapse"
                                data-parent="#accordion" data-target="#2">
                            <img src="http://api.randomuser.me/portraits/thumb/men/32.jpg"
                                 class="pull-left img-circle" style="width: 55px;margin-right:10px;">
                            <h5>
                                <b>
                                    <a href="">
                                        Vegesina Satyanarayana
                                    </a>
                                </b>
                                <div class="dropdown pull-right">
                                    <span style="opacity: 0.6;" class="fa fa-angle-down" id="dropdownMenu1" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="true"></span>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </h5>
                            <h6 style="opacity: 0.6">
                                <i class="fa fa-reply"></i>&nbsp;
                                Surya Muppalla commented
                            </h6>
                        </div>
                        <div id="2" cg-busy="Username_busy" class="panel-collapse collapse out">
                            <hr style="margin:0px 15px;" />
                            <div class="panel-body messages-scroll-page" style="height: 300px;">
                                <div class="bubbledLeft">
                                    <p style="margin:0px 0px 2px 0px;width:100%;">
                                        Surya Muppalla
                                    </p>
                                </div>
                                <div class="bubbledRight">
                                    <p style="margin:0px 0px 2px 0px;width:100%;">
                                        Muppalla
                                    </p>
                                </div>
                                <div class="bubbledLeft">
                                    <p style="margin:0px 0px 2px 0px;width:100%;">
                                        Surya Muppalla
                                    </p>
                                </div>
                                <div class="bubbledRight">
                                    <p style="margin:0px 0px 2px 0px;width:100%;">
                                        Muppalla
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" style="border-color: #fff;">
                        <div style="cursor:pointer;padding: 10px 0px;" class="panel-body" data-toggle="collapse"
                                data-parent="#accordion" data-target="#3">
                            <img src="http://api.randomuser.me/portraits/thumb/women/52.jpg"
                                 class="pull-left img-circle" style="width: 55px;margin-right:10px;">
                            <h5>
                                <b>
                                    <a href="">
                                        Fastest Youpep Network
                                    </a>
                                </b>
                                <div class="dropdown pull-right">
                                    <span style="opacity: 0.6;" class="fa fa-angle-down" id="dropdownMenu1" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="true"></span>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </h5>
                            <h6 style="opacity: 0.6">
                                <i class="fa fa-reply"></i>&nbsp;
                                Surya Muppalla commented
                            </h6>
                        </div>
                        <div id="3" cg-busy="Username_busy" class="panel-collapse collapse out">
                            <hr style="margin:0px 15px;" />
                            <div class="panel-body messages-scroll-page" style="height: 300px;">
                                <div class="bubbledLeft">
                                    <p style="margin:0px 0px 2px 0px;width:100%;">
                                        Surya Muppalla
                                    </p>
                                </div>
                                <div class="bubbledRight">
                                    <p style="margin:0px 0px 2px 0px;width:100%;">
                                        Muppalla
                                    </p>
                                </div>
                                <div class="bubbledLeft">
                                    <p style="margin:0px 0px 2px 0px;width:100%;">
                                        Surya Muppalla
                                    </p>
                                </div>
                                <div class="bubbledRight">
                                    <p style="margin:0px 0px 2px 0px;width:100%;">
                                        Muppalla
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

