<style ng-if="!(isAuthenticated())">
    .navbar-brand { position: relative; z-index: 2; }
    .navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }
    .navbar .navbar-collapse { position: relative; }
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }
    .navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
    .navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
    .navbar.navbar-inverse .nav-collapse { background-color: #222; }
    .navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
    .nav-collapse>li { float: right; }

    .btn.btn-circle { border-radius: 50px;border: 1px solid #DBDBDB; }
    .btn.btn-outline { background-color: transparent; }

    @media screen and (max-width: 767px) {
        .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }

        .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
        .navbar .nav-collapse .navbar-form { margin: 0; }
        .nav-collapse>li { float: none; }
    }
    .navbar{
        margin-bottom:0px;
    }
    .navbar-default {
        background: radial-gradient(circle,#FFFFFF,#FFFFFF);
        background: radial-gradient(circle,#FFFFFF,#FFFFFF);
        background: radial-gradient(circle,#FFFFFF,#FFFFFF);
        background: radial-gradient(circle,#FFFFFF,#FFFFFF);
        border-color: #FFF;
        border-bottom: 1px solid #FFFFFF;
        -webkit-box-shadow: 0 1px 2px -2px rgba(0, 0, 0, .52);
    }
</style>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                {{ data }}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".upper-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a ng-if="!(isAuthenticated())" class="navbar-brand" href="/#/search" title="Youpep" rel="home">
                        <h3 style="margin-top:-4px;color:#FF0000;">
                            Youpep
                        </h3>
                    </a>
                    <a ng-if="isAuthenticated()" class="navbar-brand" href="/#/home" title="Youpep" rel="home">
                        <h3 style="margin-top:-4px;">
                            Youpep
                        </h3>
                    </a>
                </div><!-- /.navbar-header -->
                <div class="collapse navbar-collapse upper-navbar">
                    <ul id="menu-topmenu1" ng-if="isAuthenticated()" class="nav navbar-nav navbar-left">
                        <li id="menu-item-1-1">
                            <a href="#/search" ng-click="SeenMatchButton()">
                                <b style="color:#fff;">
                                    <i class="fa fa-search"></i>
                                    Search
                                </b>
                            </a>
                        </li>
                        <li id="menu-item-4-1">
                            <a href="#/messages" ng-click="SeenMatchButton()">
                                <b style="color:#fff;">
                                    <i class="fa fa-envelope-o"></i>
                                    Messages
                                </b>
                            </a>
                        </li>
                    </ul>
                    <ul  ng-if="!(isAuthenticated())" class="nav navbar-nav navbar-right">
                        <li style="">
                            <a class="btn btn-sm btn-circle" href="#/login" style="color:#333;">
                                Login
                            </a>
                        </li>
                        <li style="">
                            <a class="btn btn-sm btn-circle" href="#/signup" style="color:#333;">
                                Signup
                            </a>
                        </li>
                    </ul>
                    <ul id="menu-topmenu" ng-if="isAuthenticated()" class="nav navbar-nav navbar-right">
                        <li id="menu-item-4">

                            <a href="" bs-dropdown="dropdown" style="padding-top: 11px; padding-bottom: 11px;">
                                <img style="width:28px; border: 2px solid; margin-right: 5px;" class="img-circle" ng-src="{{currentUser.picture.thumbnail}}" alt="">
                                {{currentUser.username}}
                                <span class="caret"></span>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <div ng-if="!(isAuthenticated())" class="panel-footer footer navbar-fixed-bottom">
                        <a href="#/about">
                            About
                        </a>&nbsp;&nbsp;
                        <a href="#/careers">
                            Careers
                        </a>&nbsp;&nbsp;
                        <a href="#/term-policy">
                            Terms and Policy
                        </a>&nbsp;&nbsp;
                        <a href="#/privacy-policy">
                            Privacy Policy
                        </a>&nbsp;&nbsp;
                        <a href="#/feedback">
                            Feedback
                        </a>
                    </div>
                </div>
            </div>
        </div>