<!--<textarea ng-model="enterquestion">


</textarea>
<input type="button" ng-click="storequestion()" value="save">-->
<title>Youpep | Search and meet people.</title>
<meta property="og:site_name" content="Youpep | Search and meet people "/> <meta property="og:title" content="Search and meet people | Youpep"/> <meta property="og:description" content="Youpep is a platform to search for people,based on their activities,interests and location around the world."/>
<meta name="description" content="Youpep is a platform to search for people,based on their activities,interests and location around the world."/>
<meta name="keywords" content="youpep,people,search,find,location,activity,activities of people,activity search,interests,interests search,people interests,looking people,meeting people,making friends,friends,meeting,dating,looking,searching for classmate,searching friend,."/>
<div class="container" style="">
    <div ng-if="!(isAuthenticated())" style="margin-top: 20px;"></div>
    <div class="row">
        <div class="col-lg-12">
            <img src="https://www.gmail.com/intl/en/mail/help/images/about-carousel-1.png">
            <h1 style="color: #fff;position: absolute;top:30px;top: 40px;left: 50px;font-weight: 300;font-family: 'open sans',arial,sans-serif;">
                Websoc Software Technologies
            </h1>
            <h2 style="color: #fff;position: absolute;top:30px;top: 100px;left: 50px;font-weight: 300;font-family: 'open sans',arial,sans-serif;">
                Product Development
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <img src="https://www.gmail.com/intl/en/mail/help/images/share_more.jpg">
            <h1 style="color: #fff;position: absolute;top: 40px;left: 50px;font-weight: 300;font-family: 'open sans',arial,sans-serif;">
                Surya Muppalla
            </h1>
        </div>
    </div>
</div>

<style>
    body{
        padding-top: 30px !important;
    }
</style>

